# Ignore all dotfiles except the whitelisted ones
.*
!.changeset
!.github
!.gitignore
!.vscode
!.gitmodules

# Ignore log output
*.log

# Ignore backup files
*.bkp

# Ignore tsbuildinfo
*.tsbuildinfo

# Ignore various outputs
dist/
build/
out/
coverage/

# Ignore dependencies
node_modules/

# Ignore vercel
.vercel

# Ignore example output
examples/example-sea/example

# Ignore copied readme files
README.md
!/README.md
