# Ignore all dotfiles except the whitelisted ones
.*
!.changeset
!.github
!.gitignore
!.vscode
!.node-version
!.env.tpl

# Ignore log output
*.log

# Ignore backup files
*.bkp

# Ignore tsbuildinfo
*.tsbuildinfo

# Ignore various outputs
dist/
build/
coverage/

# Ignore dependencies
node_modules/
